In [1]:
import pandas as pd
from zipfile import ZipFile
import matplotlib.pyplot as plt

In [2]:
path = '\2. Semester\DLR\Data\klarchiv_00003_daily_his.zip'
#ZipFile.extract(path, )

In [3]:
#df = pd.read_csv('Data/TitanicTrain.csv')

In [4]:
# import os

# with ZipFile('Data/klarchiv_00003_daily_his.zip') as z:
#     with open('Data/', 'wb') as f:
#         f.write(z.read('/produkt_klima_tag_18910101_20110331_00003.txt'))

file = 'Data/klarchiv_00003_daily_his.zip'
 
# opening the zip file in READ mode 
with ZipFile(file, 'r') as zip: 
    # printing all the contents of the zip file 
    zip.printdir()
  
    # extracting all the files 
    print('Extracting all the files now...') 
    zip.extractall('Data/Unzipped/') 
    print('Done!')

File Name                                             Modified             Size
Metadaten_Geographie_00003.txt                 2019-03-14 10:24:48          439
Metadaten_Geraete_Luftdruck_Stationshoehe_00003.html 2019-03-14 10:24:14         3162
Metadaten_Geraete_Luftdruck_Stationshoehe_00003.txt 2019-03-14 10:22:26          599
Metadaten_Geraete_Lufttemp_Am_Erdb_Minimum_00003.html 2019-03-14 10:24:14         2711
Metadaten_Geraete_Lufttemp_Am_Erdb_Minimum_00003.txt 2019-03-14 10:22:26          484
Metadaten_Geraete_Lufttemperatur_00003.html    2019-03-14 10:24:14         2711
Metadaten_Geraete_Lufttemperatur_00003.txt     2019-03-14 10:22:24          495
Metadaten_Geraete_Lufttemperatur_Maximum_00003.html 2019-03-14 10:24:14         2702
Metadaten_Geraete_Lufttemperatur_Maximum_00003.txt 2019-03-14 10:22:26          480
Metadaten_Geraete_Lufttemperatur_Minimum_00003.html 2019-03-14 10:24:14         2706
Metadaten_Geraete_Lufttemperatur_Minimum_00003.txt 2019-03-14 10:22:26          480
Metadaten_Geraete_Niederschlagshoehe_00003.html 2019-03-14 10:24:14         3776
Metadaten_Geraete_Niederschlagshoehe_00003.txt 2019-03-14 10:22:26          704
Metadaten_Geraete_Niederschlagshoehe_Ind_00003.html 2019-03-14 10:24:14         2721
Metadaten_Geraete_Niederschlagshoehe_Ind_00003.txt 2019-03-14 10:22:26          506
Metadaten_Geraete_Rel_Feuchte_00003.html       2019-03-14 10:24:14         3738
Metadaten_Geraete_Rel_Feuchte_00003.txt        2019-03-14 10:22:26          685
Metadaten_Geraete_Sonnenscheindauer_00003.html 2019-03-14 10:24:14         3805
Metadaten_Geraete_Sonnenscheindauer_00003.txt  2019-03-14 10:22:26          749
Metadaten_Geraete_Windgeschwindigkeit_00003.html 2019-03-14 10:24:14         3771
Metadaten_Geraete_Windgeschwindigkeit_00003.txt 2019-03-14 10:22:26          706
Metadaten_Geraete_Windspitze_Maximum_00003.html 2019-03-14 10:24:14         3684
Metadaten_Geraete_Windspitze_Maximum_00003.txt 2019-03-14 10:22:26          706
Metadaten_Parameter_klima_tag_00003.html       2019-03-14 10:24:48        41359
Metadaten_Parameter_klima_tag_00003.txt        2019-03-14 10:24:42        15151
Metadaten_Stationsname_00003.html              2019-03-14 10:24:42          685
Metadaten_Stationsname_00003.txt               2019-03-14 10:24:42          111
produkt_klima_tag_18910101_20110331_00003.txt  2019-03-14 10:10:20      5326622
Extracting all the files now...
Done!

In [5]:
data = pd.read_csv('Data/Unzipped/produkt_klima_tag_18910101_20110331_00003.txt', sep=';')
data.head(20)
data['  FM'].unique()
# data['  FM'].value_counts().plot.bar()

# plt.show()

array([-9.99e+02,  9.80e+00,  8.20e+00,  6.80e+00,  5.10e+00,  6.30e+00,
        1.13e+01,  7.90e+00,  3.70e+00,  1.40e+00,  2.60e+00,  1.80e+00,
        4.20e+00,  3.60e+00,  3.80e+00,  8.70e+00,  5.60e+00,  7.10e+00,
        4.10e+00,  3.50e+00,  4.00e+00,  6.60e+00,  4.60e+00,  4.40e+00,
        6.10e+00,  3.20e+00,  5.20e+00,  6.50e+00,  6.20e+00,  5.30e+00,
        2.10e+00,  7.70e+00,  5.00e+00,  2.40e+00,  2.70e+00,  1.90e+00,
        2.90e+00,  3.10e+00,  3.30e+00,  4.50e+00,  4.90e+00,  7.50e+00,
        5.90e+00,  1.60e+00,  1.50e+00,  2.30e+00,  2.80e+00,  3.40e+00,
        2.20e+00,  2.50e+00,  4.30e+00,  3.00e+00,  9.00e-01,  4.80e+00,
        1.10e+00,  6.00e-01,  1.00e+00,  1.30e+00,  2.00e+00,  7.00e-01,
        3.90e+00,  4.70e+00,  5.40e+00,  5.50e+00,  1.70e+00,  8.30e+00,
        5.80e+00,  7.30e+00,  1.20e+00,  8.90e+00,  8.50e+00,  6.40e+00,
        6.90e+00,  5.70e+00,  7.40e+00,  6.70e+00,  1.14e+01,  8.40e+00,
        8.10e+00,  8.00e+00,  9.00e+00,  9.40e+00,  6.00e+00,  1.11e+01,
        1.05e+01,  7.00e+00,  7.80e+00,  1.00e+01,  1.03e+01,  8.60e+00,
        9.50e+00,  7.20e+00,  9.90e+00,  1.29e+01,  1.07e+01,  7.60e+00,
        8.80e+00,  1.16e+01,  1.10e+01,  1.19e+01,  9.30e+00,  9.60e+00,
        9.70e+00,  1.01e+01,  1.24e+01,  1.22e+01,  1.02e+01,  9.10e+00,
        8.00e-01,  1.08e+01,  1.12e+01,  1.36e+01,  9.20e+00,  1.42e+01,
        1.18e+01,  1.27e+01,  1.17e+01,  1.15e+01,  1.04e+01,  5.00e-01,
        1.09e+01,  1.32e+01,  1.06e+01,  4.00e-01,  1.23e+01,  3.00e-01,
        2.00e-01,  1.00e-01])

In [6]:
data = pd.read_csv('Data/Unzipped/Metadaten_Stationsname_00003.txt', sep=';')
data.head(20)

   Stations_ID                              Stationsname  Von_Datum  Bis_Datum
0            3  Aachen                                     18910101   20120406

In [7]:
data = pd.read_csv('Data/Unzipped/Metadaten_Parameter_klima_tag_00003.txt', sep=';', encoding='ISO-8859-1')
data.head(20)
meta = data.drop_duplicates('Parameter')
meta.head(30)

,Stations_ID,Von_Datum,Bis_Datum,Stationsname,Parameter,Parameterbeschreibung,Einheit,Datenquelle (Strukturversion=SV),Zusatz-Info,Besonderheiten,Literaturhinweis,eor,Unnamed: 12
0,3,19370101,19741231.0,Aachen,FM,Tagesmittel der Windgeschwindigkeit m/s Messn...,m/sec,"Winddaten (Stundenmittel, maximale Windspitze ...",arithm.Mittel aus mind. 21 Stundenwerten,NaN,NaN,eor,NaN
6,3,19520101,19741231.0,Aachen,FX,Maximum der Windspitze Messnetz 3,m/sec,"Winddaten (Stundenmittel, maximale Windspitze ...",00:00 - 24:00 MEZ,NaN,NaN,eor,NaN
12,3,18910101,19031231.0,Aachen,NM,Tagesmittel des Bedeckungsgrades,Achtel,Klimadaten aus Klimaroutine des DWD (3 Termine...,arithm.Mittel aus 3 Terminwerten,NaN,NaN,eor,NaN
16,3,19040101,19041231.0,Aachen,PM,Tagesmittel des Luftdrucks,hpa,KLIDADIGI: Klimadaten nacherfasst (3 Termine: ...,arithm.Mittel aus 3 Terminwerten,NaN,NaN,eor,NaN
19,3,18910101,19031230.0,Aachen,RSK,tgl. Niederschlagshoehe,mm,Klimadaten aus Klimaroutine des DWD (3 Termine...,07:30 - 07:30 FT. MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
23,3,18910101,19031230.0,Aachen,RSKF,tgl. Niederschlagsform (=Niederschlagshoehe_ind),numerischer Code,Klimadaten aus Klimaroutine des DWD (3 Termine...,07:30 - 07:30 FT. MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
27,3,19350101,20010331.0,Aachen,SDK,Sonnenscheindauer Tagessumme,Stunde,Klimadaten aus Klimaroutine des DWD (3 Termine...,00:00-24:00 MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
29,3,18920109,19031226.0,Aachen,SHK_TAG,Schneehoehe Tageswert,cm,Klimadaten aus Klimaroutine des DWD (3 Termine...,07:30 MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
33,3,19360101,20010331.0,Aachen,TGK,Minimum der Lufttemperatur am Erdboden in 5cm ...,°C,Klimadaten aus Klimaroutine des DWD (3 Termine...,21:30 VT. - 07:30 MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
35,3,18910101,19031231.0,Aachen,TMK,Tagesmittel der Temperatur,°C,Klimadaten aus Klimaroutine des DWD (3 Termine...,TMK=(TT1+TT2+(TT3*2))/4,NaN,NaN,eor,NaN
39,3,18910101,19031231.0,Aachen,TNK,Tagesminimum der Lufttemperatur in 2m Hoehe,°C,Klimadaten aus Klimaroutine des DWD (3 Termine...,21:30 VT. - 21:30 MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
43,3,18910101,19031231.0,Aachen,TXK,Tagesmaximum der Lufttemperatur in 2m Höhe,°C,Klimadaten aus Klimaroutine des DWD (3 Termine...,21:30 VT. - 21:30 MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
47,3,18910101,19031231.0,Aachen,UPM,Tagesmittel der Relativen Feuchte,%,Klimadaten aus Klimaroutine des DWD (3 Termine...,arithm.Mittel aus 3 Terminwerten,NaN,NaN,eor,NaN
51,3,18910101,19031231.0,Aachen,VPM,Tagesmittel des Dampfdruckes,hpa,Klimadaten aus Klimaroutine des DWD (3 Termine...,arithm.Mittel aus 3 Terminwerten,NaN,NaN,eor,NaN
55,Legende: FT = Folgetag,GZ = Gesetzliche Zeit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data = pd.read_csv('Data/Unzipped/Metadaten_Geraete_Windspitze_Maximum_00003.txt', sep=';')
data.head(20)

,Stations_ID,Stationsname,Geo. Laenge [Grad],Geo. Breite [Grad],Stationshoehe [m],Geberhoehe ueber Grund [m],Von_Datum,Bis_Datum,Geraetetyp Name,Messverfahren,eor,Unnamed: 11
0,3,Aachen,6.09,50.78,202.0,16.00,19520101.0,19720531.0,Universal-Windmesser 82,"Windmessung, mechanisch",eor,NaN
1,3,Aachen,6.09,50.78,202.0,16.00,19720601.0,19930608.0,Universal-Windschreiber 90,"Windmessung, elektromechanisch",eor,NaN
2,3,Aachen,6.09,50.78,202.0,16.00,19930609.0,20080219.0,Windsensor Classic 4.3303,"Windmessung, elektr.",eor,NaN
3,3,Aachen,6.09,50.78,202.0,NaN,20080219.0,20080221.0,Handanemometer,"Windmessung, mechanisch",eor,NaN
4,3,Aachen,6.09,50.78,202.0,19.93,20080221.0,20120406.0,Windsensor Classic 4.3303,"Windmessung, elektr.",eor,NaN
5,generiert: 14.03.2019 -- Deutscher Wetterdien...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data = pd.read_csv('Data/Unzipped/Metadaten_Geraete_Sonnenscheindauer_00003.txt', sep=';', encoding='ISO-8859-1')
data.head(20)

,Stations_ID,Stationsname,Geo. Laenge [Grad],Geo. Breite [Grad],Stationshoehe [m],Geberhoehe ueber Grund [m],Von_Datum,Bis_Datum,Geraetetyp Name,Messverfahren,eor,Unnamed: 11
0,3,Aachen,NaN,NaN,NaN,NaN,19350101.0,19500331.0,Gerätetyp unbekannt,"Sonnenscheinregistrierung, konv.",eor,NaN
1,3,Aachen,6.09,50.78,202.0,14.0,19500401.0,19890818.0,Sonnenscheinschreiber nach Campbell-Stokes,"Sonnenscheinregistrierung, konv.",eor,NaN
2,3,Aachen,6.09,50.78,202.0,14.4,19890819.0,20070627.0,SONIe Sonnenenergie-Sensor,"Sonnenscheindauer, elektr.",eor,NaN
3,3,Aachen,6.09,50.78,202.0,14.4,20070717.0,20080806.0,SONIe Sonnenenergie-Sensor,"Sonnenscheindauer, elektr.",eor,NaN
4,3,Aachen,6.09,50.78,202.0,14.4,20080811.0,20120406.0,SONIe Sonnenenergie-Sensor,"Sonnenscheindauer, elektr.",eor,NaN
5,generiert: 14.03.2019 -- Deutscher Wetterdien...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN