In [49]:
import pandas as pd
from zipfile import ZipFile
import matplotlib.pyplot as plt
import os

In [50]:
path = '\2. Semester\DLR\Data\klarchiv_00003_daily_his.zip'
#ZipFile.extract(path, )

In [51]:
#df = pd.read_csv('Data/TitanicTrain.csv')

In [52]:
# import os

# with ZipFile('Data/klarchiv_00003_daily_his.zip') as z:
#     with open('Data/', 'wb') as f:
#         f.write(z.read('/produkt_klima_tag_18910101_20110331_00003.txt'))


# file = 'Weather_DataSet/klarchiv_00003_daily_his.zip'
 
# # opening the zip file in READ mode
# with ZipFile(file, 'r') as zip: 
#     # printing all the contents of the zip file 
#     zip.printdir()
  
#     # extracting all the files
#     print('Extracting all the files now...')
#     zip.extractall('Data/Unzipped/')
#     print('Done!')

In [53]:
data = pd.read_csv('Weather_DataSet/klarchiv_00003_daily_his/produkt_klima_tag_18910101_20110331_00003.txt', sep=';')
data.head(20)

,STATIONS_ID,MESS_DATUM,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor
0,3,18910101,-999,-999.0,-999.0,5,0.0,0,-999.0,-999,0.0,4.3,-999.0,-3.6,88.0,0.5,-5.9,-999.0,eor
1,3,18910102,-999,-999.0,-999.0,5,0.0,0,-999.0,-999,2.7,4.1,-999.0,-2.8,84.0,0.0,-5.8,-999.0,eor
2,3,18910103,-999,-999.0,-999.0,5,2.5,1,-999.0,-999,3.7,3.9,-999.0,-0.2,69.0,2.1,-6.2,-999.0,eor
3,3,18910104,-999,-999.0,-999.0,5,8.2,1,-999.0,-999,8.0,6.4,-999.0,1.8,90.0,3.7,0.6,-999.0,eor
4,3,18910105,-999,-999.0,-999.0,5,1.9,1,-999.0,-999,7.7,4.7,-999.0,-2.5,87.0,1.5,-4.2,-999.0,eor
5,3,18910106,-999,-999.0,-999.0,5,2.5,1,-999.0,-999,8.0,3.5,-999.0,-5.8,88.0,-4.0,-6.9,-999.0,eor
6,3,18910107,-999,-999.0,-999.0,5,2.9,1,-999.0,-999,8.0,3.6,-999.0,-5.8,94.0,-5.0,-7.7,-999.0,eor
7,3,18910108,-999,-999.0,-999.0,5,0.0,0,-999.0,-999,6.7,3.7,-999.0,-5.0,89.0,-3.5,-5.7,-999.0,eor
8,3,18910109,-999,-999.0,-999.0,5,0.0,0,-999.0,-999,6.7,2.9,-999.0,-7.8,87.0,-4.7,-9.2,-999.0,eor
9,3,18910110,-999,-999.0,-999.0,5,0.0,0,-999.0,-999,3.7,2.1,-999.0,-11.4,85.0,-7.6,-12.7,-999.0,eor
10,3,18910111,-999,-999.0,-999.0,5,0.0,0,-999.0,-999,4.0,3.1,-999.0,-7.2,88.0,-5.6,-12.6,-999.0,eor
11,3,18910112,-999,-999.0,-999.0,5,6.6,1,-999.0,-999,8.0,5.1,-999.0,0.2,87.0,1.2,-5.8,-999.0,eor
12,3,18910113,-999,-999.0,-999.0,5,0.0,0,-999.0,-999,2.7,5.6,-999.0,0.4,86.0,2.8,-0.8,-999.0,eor
13,3,18910114,-999,-999.0,-999.0,5,1.1,1,-999.0,-999,6.7,5.3,-999.0,0.4,83.0,1.9,-2.3,-999.0,eor
14,3,18910115,-999,-999.0,-999.0,5,3.1,1,-999.0,-999,5.0,4.0,-999.0,-3.8,85.0,0.2,-5.0,-999.0,eor
15,3,18910116,-999,-999.0,-999.0,5,0.9,1,-999.0,-999,5.7,2.9,-999.0,-7.8,85.0,-4.0,-10.7,-999.0,eor
16,3,18910117,-999,-999.0,-999.0,5,2.1,1,-999.0,-999,6.0,2.0,-999.0,-12.2,87.0,-8.0,-13.8,-999.0,eor
17,3,18910118,-999,-999.0,-999.0,5,2.2,1,-999.0,-999,8.0,3.6,-999.0,-6.0,94.0,-5.0,-12.4,-999.0,eor
18,3,18910119,-999,-999.0,-999.0,5,0.0,0,-999.0,-999,6.0,3.7,-999.0,-6.2,94.0,-4.0,-7.7,-999.0,eor
19,3,18910120,-999,-999.0,-999.0,5,11.1,1,-999.0,-999,6.0,3.7,-999.0,-4.2,87.0,-1.6,-10.2,-999.0,eor

In [54]:
data = pd.read_csv('Weather_DataSet/klarchiv_00003_daily_his/produkt_klima_tag_18910101_20110331_00003.txt', sep=';')
data.head(20)

#data['  FM'].unique()

# data['  FM'].value_counts().plot.bar()
# plt.show()

data_all = pd.DataFrame()

#Initialize path
path = 'Weather_DataSet/klarchiv_01078_daily_his'
directory = os.fsencode(path)

path2 ='Weather_DataSet/'
directory2= os.fsencode(path2)

for dir in os.listdir(directory2):
    for file in os.listdir(directory):
         filename = os.fsdecode(file)
         if filename.startswith("produkt_klima_tag"): 
            filepath = path + '/' + filename 
            data = pd.read_csv(filepath, sep=';')
            data = data[(data['MESS_DATUM']>=20160101)&(data['MESS_DATUM']<=20171231)]
            data_all.append(data)
            #print(data)
         else:
             pass

data_all.head()

# data_small = data[(data['MESS_DATUM']>=20100101)&(data['MESS_DATUM']<=20110101)]
# data_small.head()

Empty DataFrame
Columns: []
Index: []

In [106]:
#testt = pd.read_csv('./Weather_DataSet/produkt_klima_tag_19490101_20181231_00282.txt', sep=';')
print('\\')

\

In [116]:
import os
rootdir = './Weather_DataSet'

for subdir, dirs, files in os.walk(rootdir):
    #Iterate through all files in the set root directory
    for file in files:
        #choose all the files that start with 'produkt_klima_tag'
        if file.startswith('produkt_klima_tag'): 
            #create the readable path for all those files
            path = (os.path.join(subdir, file).replace("\\","/"))
            #read the respective .txt file into a datafram data1
            data1 = pd.read_csv(path, sep=';', encoding='ISO-8859-1')
            #subset to the years 2016&2017
            data1 = data1[(data1['MESS_DATUM']>=20160101)&(data1['MESS_DATUM']<=20171231)]
            #create one big dataframe
            data_all = data_all.append(data1)

In [115]:
#reconfirm the number of unique Station_IDs in the new dataframe
data_all['STATIONS_ID'].nunique()

72

In [56]:
#Test
df1 = pd.DataFrame([[1,2],], columns=['a','b'])
df2 = pd.DataFrame()

df2=df2.append(df1)
df2

   a  b
0  1  2

In [57]:
data = pd.read_csv('Weather_DataSet/klarchiv_00003_daily_his/Metadaten_Parameter_klima_tag_00003.txt', sep=';', encoding='ISO-8859-1')
data.head(20)
meta = data.drop_duplicates('Parameter')
meta.head(30)

,Stations_ID,Von_Datum,Bis_Datum,Stationsname,Parameter,Parameterbeschreibung,Einheit,Datenquelle (Strukturversion=SV),Zusatz-Info,Besonderheiten,Literaturhinweis,eor,Unnamed: 12
0,3,19370101,19741231.0,Aachen,FM,Tagesmittel der Windgeschwindigkeit m/s Messn...,m/sec,"Winddaten (Stundenmittel, maximale Windspitze ...",arithm.Mittel aus mind. 21 Stundenwerten,NaN,NaN,eor,NaN
6,3,19520101,19741231.0,Aachen,FX,Maximum der Windspitze Messnetz 3,m/sec,"Winddaten (Stundenmittel, maximale Windspitze ...",00:00 - 24:00 MEZ,NaN,NaN,eor,NaN
12,3,18910101,19031231.0,Aachen,NM,Tagesmittel des Bedeckungsgrades,Achtel,Klimadaten aus Klimaroutine des DWD (3 Termine...,arithm.Mittel aus 3 Terminwerten,NaN,NaN,eor,NaN
16,3,19040101,19041231.0,Aachen,PM,Tagesmittel des Luftdrucks,hpa,KLIDADIGI: Klimadaten nacherfasst (3 Termine: ...,arithm.Mittel aus 3 Terminwerten,NaN,NaN,eor,NaN
19,3,18910101,19031230.0,Aachen,RSK,tgl. Niederschlagshoehe,mm,Klimadaten aus Klimaroutine des DWD (3 Termine...,07:30 - 07:30 FT. MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
23,3,18910101,19031230.0,Aachen,RSKF,tgl. Niederschlagsform (=Niederschlagshoehe_ind),numerischer Code,Klimadaten aus Klimaroutine des DWD (3 Termine...,07:30 - 07:30 FT. MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
27,3,19350101,20010331.0,Aachen,SDK,Sonnenscheindauer Tagessumme,Stunde,Klimadaten aus Klimaroutine des DWD (3 Termine...,00:00-24:00 MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
29,3,18920109,19031226.0,Aachen,SHK_TAG,Schneehoehe Tageswert,cm,Klimadaten aus Klimaroutine des DWD (3 Termine...,07:30 MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
33,3,19360101,20010331.0,Aachen,TGK,Minimum der Lufttemperatur am Erdboden in 5cm ...,°C,Klimadaten aus Klimaroutine des DWD (3 Termine...,21:30 VT. - 07:30 MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
35,3,18910101,19031231.0,Aachen,TMK,Tagesmittel der Temperatur,°C,Klimadaten aus Klimaroutine des DWD (3 Termine...,TMK=(TT1+TT2+(TT3*2))/4,NaN,NaN,eor,NaN
39,3,18910101,19031231.0,Aachen,TNK,Tagesminimum der Lufttemperatur in 2m Hoehe,°C,Klimadaten aus Klimaroutine des DWD (3 Termine...,21:30 VT. - 21:30 MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
43,3,18910101,19031231.0,Aachen,TXK,Tagesmaximum der Lufttemperatur in 2m Höhe,°C,Klimadaten aus Klimaroutine des DWD (3 Termine...,21:30 VT. - 21:30 MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
47,3,18910101,19031231.0,Aachen,UPM,Tagesmittel der Relativen Feuchte,%,Klimadaten aus Klimaroutine des DWD (3 Termine...,arithm.Mittel aus 3 Terminwerten,NaN,NaN,eor,NaN
51,3,18910101,19031231.0,Aachen,VPM,Tagesmittel des Dampfdruckes,hpa,Klimadaten aus Klimaroutine des DWD (3 Termine...,arithm.Mittel aus 3 Terminwerten,NaN,NaN,eor,NaN
55,Legende: FT = Folgetag,GZ = Gesetzliche Zeit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN