In [2]:
import pandas as pd
from zipfile import ZipFile
import matplotlib.pyplot as plt
import os

In [4]:
path = 'klarchiv_00003_daily_his'
#ZipFile.extract(path, )

In [4]:
#df = pd.read_csv('Data/TitanicTrain.csv')

In [11]:
# import os

# with ZipFile('Data/klarchiv_00003_daily_his.zip') as z:
#     with open('Data/', 'wb') as f:
#         f.write(z.read('/produkt_klima_tag_18910101_20110331_00003.txt'))

#file = 'Weather_DataSet/klarchiv_00003_daily_his.zip'
 
# opening the zip file in READ mode 
#with ZipFile(file, 'r') as zip: 
    # printing all the contents of the zip file 
#    zip.printdir()
  
    # extracting all the files
#    print('Extracting all the files now...')
#    zip.extractall('Data/Unzipped/')
#    print('Done!')

In [17]:


data = pd.read_csv('Weather_DataSet/klarchiv_00003_daily_his/produkt_klima_tag_18910101_20110331_00003.txt', sep=';')
data.head(3)

,STATIONS_ID,MESS_DATUM,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor
0,3,18910101,-999,-999.0,-999.0,5,0.0,0,-999.0,-999,0.0,4.3,-999.0,-3.6,88.0,0.5,-5.9,-999.0,eor
1,3,18910102,-999,-999.0,-999.0,5,0.0,0,-999.0,-999,2.7,4.1,-999.0,-2.8,84.0,0.0,-5.8,-999.0,eor
2,3,18910103,-999,-999.0,-999.0,5,2.5,1,-999.0,-999,3.7,3.9,-999.0,-0.2,69.0,2.1,-6.2,-999.0,eor

 ### EDA Hourly data

In [6]:
data = pd.read_csv('/Users/DERJAN/Desktop/stundenwerte_EB_00003_hist/produkt_eb_stunde_18910101_20110331_00003.txt', sep=';')
data.head(3)

,STATIONS_ID,MESS_DATUM,QN_2,V_TE002,V_TE005,V_TE010,V_TE020,V_TE050,V_TE100,eor
0,3,1951010107,5,-0.4,-0.4,-0.4,0.3,1.6,-999.0,eor
1,3,1951010114,5,0.0,0.0,-0.2,0.3,1.7,3.9,eor
2,3,1951010121,5,0.0,0.0,-0.2,0.3,1.7,-999.0,eor

In [10]:
# Erdboden Temperatur 
data = pd.read_csv('/Users/DERJAN/Desktop/stundenwerte_EB_00003_hist/Metadaten_Parameter_eb_stunde_00003.txt', sep=';', encoding='ISO-8859-1')
data.head(20)
meta = data.drop_duplicates('Parameter')
meta.head(30)

,Stations_ID,Von_Datum,Bis_Datum,Stationsname,Parameter,Parameterbeschreibung,Einheit,Datenquelle (Strukturversion=SV),Zusatz-Info,Besonderheiten,Literaturhinweis,eor,Unnamed: 12
0,3,19510101,19911031.0,Aachen,V_TE002,Temperatur im Erdboden in 2 cm Tiefe,°C,Erdbodentemperaturen an den drei Klimaterminen...,Stundenwerte,NaN,NaN,eor,NaN
1,3,19510101,20010331.0,Aachen,V_TE005,Temperatur im Erdboden in 5 cm Tiefe,°C,Erdbodentemperaturen an den drei Klimaterminen...,Stundenwerte,NaN,NaN,eor,NaN
3,3,19510101,20010331.0,Aachen,V_TE010,Temperatur im Erdboden in 10 cm Tiefe,°C,Erdbodentemperaturen an den drei Klimaterminen...,Stundenwerte,NaN,NaN,eor,NaN
5,3,19510101,20010331.0,Aachen,V_TE020,Temperatur im Erdboden in 20 cm Tiefe,°C,Erdbodentemperaturen an den drei Klimaterminen...,Stundenwerte,NaN,NaN,eor,NaN
7,3,19510101,20010331.0,Aachen,V_TE050,Temperatur im Erdboden in 50 cm Tiefe,°C,Erdbodentemperaturen an den drei Klimaterminen...,Stundenwerte,NaN,NaN,eor,NaN
9,3,19510101,20010331.0,Aachen,V_TE100,Temperatur im Erdboden in 1 m Tiefe,°C,Erdbodentemperaturen an den drei Klimaterminen...,Stundenwerte,NaN,NaN,eor,NaN
11,Legende: FT = Folgetag,GZ = Gesetzliche Zeit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# 
data = pd.read_csv('/Users/DERJAN/Desktop/produkt_synop_Terminwerte_xxxxxxxx_xxxxxxxx_00003.txt', sep=';')
data.head(3)

Empty DataFrame
Columns: [Die Station Aachen wurde am 30.06.2011 aufgelöst!]
Index: []

In [19]:
#data['  FM'].unique()

# data['  FM'].value_counts().plot.bar()
# plt.show()

data_all = pd.DataFrame()

#Initialize path
path = 'Weather_DataSet/klarchiv_01078_daily_his'
directory = os.fsencode(path)

path2 ='Weather_DataSet/'
directory2= os.fsencode(path2)

for dir in os.listdir(directory2):
    for file in os.listdir(directory):
         filename = os.fsdecode(file)
         if filename.startswith("produkt_klima_tag"): 
            filepath = path + '/' + filename 
            data = pd.read_csv(filepath, sep=';')
            data = data[(data['MESS_DATUM']>=20160101)&(data['MESS_DATUM']<=20171231)]
            data_all.append(data)
            #print(data)
         else:
             pass

data_all.head()

# data_small = data[(data['MESS_DATUM']>=20100101)&(data['MESS_DATUM']<=20110101)]
# data_small.head()

Empty DataFrame
Columns: []
Index: []

In [ ]:
import os
rootdir = 'Weather_DataSet'

for subdir, dirs, files in os.walk(rootdir):
    for file in files:
         if filename.startswith("produkt_klima_tag"): 
            #filepath = path + '/' + filename 
            data = pd.read_csv(os.path.join(subdir, file), sep=';', encoding='ISO-8859-1')
            data = data[(data['MESS_DATUM']>=20160101)&(data['MESS_DATUM']<=20171231)]
            #data_all.append(data)
            #print(data)
#            print(os.path.join(subdir, file)).replace("\","/")

In [ ]:
a = 'hello'
b = 'world'
c = a +b
c

In [ ]:
data = pd.read_csv('Data/Unzipped/Metadaten_Stationsname_00003.txt', sep=';')
data.head(20)

In [ ]:
data = pd.read_csv('Data/Unzipped/Metadaten_Parameter_klima_tag_00003.txt', sep=';', encoding='ISO-8859-1')
data.head(20)
meta = data.drop_duplicates('Parameter')
meta.head(30)

In [ ]:
data = pd.read_csv('Data/Unzipped/Metadaten_Geographie_00003.txt', sep=';')
data.head(20)