In [2]:
import pandas as pd
from zipfile import ZipFile
import matplotlib.pyplot as plt
import os

In [10]:
path = 'klarchiv_00003_daily_his'
#ZipFile.extract(path, )

In [4]:
#df = pd.read_csv('Data/TitanicTrain.csv')

In [11]:
# import os

# with ZipFile('Data/klarchiv_00003_daily_his.zip') as z:
#     with open('Data/', 'wb') as f:
#         f.write(z.read('/produkt_klima_tag_18910101_20110331_00003.txt'))

#file = 'Weather_DataSet/klarchiv_00003_daily_his.zip'
 
# opening the zip file in READ mode 
#with ZipFile(file, 'r') as zip: 
    # printing all the contents of the zip file 
#    zip.printdir()
  
    # extracting all the files
#    print('Extracting all the files now...')
#    zip.extractall('Data/Unzipped/')
#    print('Done!')

In [17]:
data = pd.read_csv('Weather_DataSet/klarchiv_00003_daily_his/produkt_klima_tag_18910101_20110331_00003.txt', sep=';')
data.head(3)

,STATIONS_ID,MESS_DATUM,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor
0,3,18910101,-999,-999.0,-999.0,5,0.0,0,-999.0,-999,0.0,4.3,-999.0,-3.6,88.0,0.5,-5.9,-999.0,eor
1,3,18910102,-999,-999.0,-999.0,5,0.0,0,-999.0,-999,2.7,4.1,-999.0,-2.8,84.0,0.0,-5.8,-999.0,eor
2,3,18910103,-999,-999.0,-999.0,5,2.5,1,-999.0,-999,3.7,3.9,-999.0,-0.2,69.0,2.1,-6.2,-999.0,eor

In [19]:
#data['  FM'].unique()

# data['  FM'].value_counts().plot.bar()
# plt.show()

data_all = pd.DataFrame()

#Initialize path
path = 'Weather_DataSet/klarchiv_01078_daily_his'
directory = os.fsencode(path)

path2 ='Weather_DataSet/'
directory2= os.fsencode(path2)

for dir in os.listdir(directory2):
    for file in os.listdir(directory):
         filename = os.fsdecode(file)
         if filename.startswith("produkt_klima_tag"): 
            filepath = path + '/' + filename 
            data = pd.read_csv(filepath, sep=';')
            data = data[(data['MESS_DATUM']>=20160101)&(data['MESS_DATUM']<=20171231)]
            data_all.append(data)
            #print(data)
         else:
             pass

data_all.head()

# data_small = data[(data['MESS_DATUM']>=20100101)&(data['MESS_DATUM']<=20110101)]
# data_small.head()

Empty DataFrame
Columns: []
Index: []

In [ ]:
import os
rootdir = 'Weather_DataSet'

for subdir, dirs, files in os.walk(rootdir):
    for file in files:
         if filename.startswith("produkt_klima_tag"): 
            #filepath = path + '/' + filename 
            data = pd.read_csv(os.path.join(subdir, file), sep=';', encoding='ISO-8859-1')
            data = data[(data['MESS_DATUM']>=20160101)&(data['MESS_DATUM']<=20171231)]
            #data_all.append(data)
            #print(data)
#            print(os.path.join(subdir, file)).replace("\","/")

In [ ]:
a = 'hello'
b = 'world'
c = a +b
c

In [ ]:
data = pd.read_csv('Data/Unzipped/Metadaten_Stationsname_00003.txt', sep=';')
data.head(20)

In [ ]:
data = pd.read_csv('Data/Unzipped/Metadaten_Parameter_klima_tag_00003.txt', sep=';', encoding='ISO-8859-1')
data.head(20)
meta = data.drop_duplicates('Parameter')
meta.head(30)

In [ ]:
data = pd.read_csv('Data/Unzipped/Metadaten_Geographie_00003.txt', sep=';')
data.head(20)