In [34]:
import pandas as pd
from zipfile import ZipFile
import matplotlib.pyplot as plt
import os

In [2]:
path = '\2. Semester\DLR\Data\klarchiv_00003_daily_his.zip'
#ZipFile.extract(path, )

In [3]:
#df = pd.read_csv('Data/TitanicTrain.csv')

In [4]:
# import os

# with ZipFile('Data/klarchiv_00003_daily_his.zip') as z:
#     with open('Data/', 'wb') as f:
#         f.write(z.read('/produkt_klima_tag_18910101_20110331_00003.txt'))

file = 'Data/klarchiv_00003_daily_his.zip'
 
# opening the zip file in READ mode 
with ZipFile(file, 'r') as zip: 
    # printing all the contents of the zip file 
    zip.printdir()
  
    # extracting all the files
    print('Extracting all the files now...')
    zip.extractall('Data/Unzipped/')
    print('Done!')

File Name                                             Modified             Size
Metadaten_Geographie_00003.txt                 2019-03-14 10:24:48          439
Metadaten_Geraete_Luftdruck_Stationshoehe_00003.html 2019-03-14 10:24:14         3162
Metadaten_Geraete_Luftdruck_Stationshoehe_00003.txt 2019-03-14 10:22:26          599
Metadaten_Geraete_Lufttemp_Am_Erdb_Minimum_00003.html 2019-03-14 10:24:14         2711
Metadaten_Geraete_Lufttemp_Am_Erdb_Minimum_00003.txt 2019-03-14 10:22:26          484
Metadaten_Geraete_Lufttemperatur_00003.html    2019-03-14 10:24:14         2711
Metadaten_Geraete_Lufttemperatur_00003.txt     2019-03-14 10:22:24          495
Metadaten_Geraete_Lufttemperatur_Maximum_00003.html 2019-03-14 10:24:14         2702
Metadaten_Geraete_Lufttemperatur_Maximum_00003.txt 2019-03-14 10:22:26          480
Metadaten_Geraete_Lufttemperatur_Minimum_00003.html 2019-03-14 10:24:14         2706
Metadaten_Geraete_Lufttemperatur_Minimum_00003.txt 2019-03-14 10:22:26          480
Metadaten_Geraete_Niederschlagshoehe_00003.html 2019-03-14 10:24:14         3776
Metadaten_Geraete_Niederschlagshoehe_00003.txt 2019-03-14 10:22:26          704
Metadaten_Geraete_Niederschlagshoehe_Ind_00003.html 2019-03-14 10:24:14         2721
Metadaten_Geraete_Niederschlagshoehe_Ind_00003.txt 2019-03-14 10:22:26          506
Metadaten_Geraete_Rel_Feuchte_00003.html       2019-03-14 10:24:14         3738
Metadaten_Geraete_Rel_Feuchte_00003.txt        2019-03-14 10:22:26          685
Metadaten_Geraete_Sonnenscheindauer_00003.html 2019-03-14 10:24:14         3805
Metadaten_Geraete_Sonnenscheindauer_00003.txt  2019-03-14 10:22:26          749
Metadaten_Geraete_Windgeschwindigkeit_00003.html 2019-03-14 10:24:14         3771
Metadaten_Geraete_Windgeschwindigkeit_00003.txt 2019-03-14 10:22:26          706
Metadaten_Geraete_Windspitze_Maximum_00003.html 2019-03-14 10:24:14         3684
Metadaten_Geraete_Windspitze_Maximum_00003.txt 2019-03-14 10:22:26          706
Metadaten_Parameter_klima_tag_00003.html       2019-03-14 10:24:48        41359
Metadaten_Parameter_klima_tag_00003.txt        2019-03-14 10:24:42        15151
Metadaten_Stationsname_00003.html              2019-03-14 10:24:42          685
Metadaten_Stationsname_00003.txt               2019-03-14 10:24:42          111
produkt_klima_tag_18910101_20110331_00003.txt  2019-03-14 10:10:20      5326622
Extracting all the files now...
Done!

In [48]:
data = pd.read_csv('Data/Unzipped/produkt_klima_tag_18910101_20110331_00003.txt', sep=';')
data.head(20)

#data['  FM'].unique()

# data['  FM'].value_counts().plot.bar()
# plt.show()

data_all = pd.DataFrame()

#Initialize path
path = 'Weather_data/klarchiv_01078_daily_his'
directory = os.fsencode(path)

path2 ='Weather_data/'
directory2= os.fsencode(path2)

for dir in os.listdir(directory2):
    for file in os.listdir(directory):
         filename = os.fsdecode(file)
         if filename.startswith("produkt_klima_tag"): 
            filepath = path + '/' + filename 
            data = pd.read_csv(filepath, sep=';')
            data = data[(data['MESS_DATUM']>=20160101)&(data['MESS_DATUM']<=20171231)]
            data_all.append(data)
            #print(data)
         else:
             pass

data_all.head()

# data_small = data[(data['MESS_DATUM']>=20100101)&(data['MESS_DATUM']<=20110101)]
# data_small.head()

Empty DataFrame
Columns: []
Index: []

In [76]:
import os
rootdir = 'Weather_data'

for subdir, dirs, files in os.walk(rootdir):
    for file in files:
         if filename.startswith("produkt_klima_tag"): 
            #filepath = path + '/' + filename 
            data = pd.read_csv(os.path.join(subdir, file), sep=';', encoding='ISO-8859-1')
            data = data[(data['MESS_DATUM']>=20160101)&(data['MESS_DATUM']<=20171231)]
            #data_all.append(data)
            #print(data)
#            print(os.path.join(subdir, file)).replace("\","/")

KeyError: 'MESS_DATUM'

In [36]:
a = 'hello'
b = 'world'
c = a +b
c

'helloworld'

In [6]:
data = pd.read_csv('Data/Unzipped/Metadaten_Stationsname_00003.txt', sep=';')
data.head(20)

   Stations_ID                              Stationsname  Von_Datum  Bis_Datum
0            3  Aachen                                     18910101   20120406

In [7]:
data = pd.read_csv('Data/Unzipped/Metadaten_Parameter_klima_tag_00003.txt', sep=';', encoding='ISO-8859-1')
data.head(20)
meta = data.drop_duplicates('Parameter')
meta.head(30)

,Stations_ID,Von_Datum,Bis_Datum,Stationsname,Parameter,Parameterbeschreibung,Einheit,Datenquelle (Strukturversion=SV),Zusatz-Info,Besonderheiten,Literaturhinweis,eor,Unnamed: 12
0,3,19370101,19741231.0,Aachen,FM,Tagesmittel der Windgeschwindigkeit m/s Messn...,m/sec,"Winddaten (Stundenmittel, maximale Windspitze ...",arithm.Mittel aus mind. 21 Stundenwerten,NaN,NaN,eor,NaN
6,3,19520101,19741231.0,Aachen,FX,Maximum der Windspitze Messnetz 3,m/sec,"Winddaten (Stundenmittel, maximale Windspitze ...",00:00 - 24:00 MEZ,NaN,NaN,eor,NaN
12,3,18910101,19031231.0,Aachen,NM,Tagesmittel des Bedeckungsgrades,Achtel,Klimadaten aus Klimaroutine des DWD (3 Termine...,arithm.Mittel aus 3 Terminwerten,NaN,NaN,eor,NaN
16,3,19040101,19041231.0,Aachen,PM,Tagesmittel des Luftdrucks,hpa,KLIDADIGI: Klimadaten nacherfasst (3 Termine: ...,arithm.Mittel aus 3 Terminwerten,NaN,NaN,eor,NaN
19,3,18910101,19031230.0,Aachen,RSK,tgl. Niederschlagshoehe,mm,Klimadaten aus Klimaroutine des DWD (3 Termine...,07:30 - 07:30 FT. MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
23,3,18910101,19031230.0,Aachen,RSKF,tgl. Niederschlagsform (=Niederschlagshoehe_ind),numerischer Code,Klimadaten aus Klimaroutine des DWD (3 Termine...,07:30 - 07:30 FT. MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
27,3,19350101,20010331.0,Aachen,SDK,Sonnenscheindauer Tagessumme,Stunde,Klimadaten aus Klimaroutine des DWD (3 Termine...,00:00-24:00 MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
29,3,18920109,19031226.0,Aachen,SHK_TAG,Schneehoehe Tageswert,cm,Klimadaten aus Klimaroutine des DWD (3 Termine...,07:30 MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
33,3,19360101,20010331.0,Aachen,TGK,Minimum der Lufttemperatur am Erdboden in 5cm ...,°C,Klimadaten aus Klimaroutine des DWD (3 Termine...,21:30 VT. - 07:30 MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
35,3,18910101,19031231.0,Aachen,TMK,Tagesmittel der Temperatur,°C,Klimadaten aus Klimaroutine des DWD (3 Termine...,TMK=(TT1+TT2+(TT3*2))/4,NaN,NaN,eor,NaN
39,3,18910101,19031231.0,Aachen,TNK,Tagesminimum der Lufttemperatur in 2m Hoehe,°C,Klimadaten aus Klimaroutine des DWD (3 Termine...,21:30 VT. - 21:30 MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
43,3,18910101,19031231.0,Aachen,TXK,Tagesmaximum der Lufttemperatur in 2m Höhe,°C,Klimadaten aus Klimaroutine des DWD (3 Termine...,21:30 VT. - 21:30 MEZ (bis 1986 MOZ),NaN,NaN,eor,NaN
47,3,18910101,19031231.0,Aachen,UPM,Tagesmittel der Relativen Feuchte,%,Klimadaten aus Klimaroutine des DWD (3 Termine...,arithm.Mittel aus 3 Terminwerten,NaN,NaN,eor,NaN
51,3,18910101,19031231.0,Aachen,VPM,Tagesmittel des Dampfdruckes,hpa,Klimadaten aus Klimaroutine des DWD (3 Termine...,arithm.Mittel aus 3 Terminwerten,NaN,NaN,eor,NaN
55,Legende: FT = Folgetag,GZ = Gesetzliche Zeit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data = pd.read_csv('Data/Unzipped/Metadaten_Geographie_00003.txt', sep=';')
data.head(20)

,Stations_id,Stationshoehe,Geogr.Breite,Geogr.Laenge,von_datum,bis_datum,Stationsname
0,3,162.7,50.7833,6.0833,18910101,19000610,Aachen
1,3,202.0,50.7833,6.1000,19000611,19440831,Aachen
2,3,190.0,50.7667,6.0833,19440901,19450331,Aachen
3,3,178.0,50.7833,6.1000,19450401,19500331,Aachen
4,3,202.0,50.7827,6.0941,19500401,20081007,Aachen
5,3,202.0,50.7827,6.0941,20081008,20120406,Aachen